In [119]:
from IPython.core.interactiveshell import InteractiveShell  #执行该代码可以使得当前nb支持多输出
InteractiveShell.ast_node_interactivity = "all" 
import numpy as np
import pandas as pd 
pd.options.display.max_rows = 8  
import requests
import parsel
from bs4 import BeautifulSoup
from lxml import etree
from time import sleep
from selenium.webdriver.chrome.service import Service
from selenium.webdriver import Chrome,ChromeOptions
from selenium.webdriver.common.by import By
import warnings
import csv
import random
from xpinyin import Pinyin
#忽略警告

warnings.filterwarnings("ignore")

In [120]:
file = "../实验二数据/2008-2018知识产权年鉴数据/2018/h/h1.xls"
df = pd.read_excel(file)
df
# c_list = df.values.tolist()[1]  # 得到想要设置为列索引【表头】的某一行提取出来
# df.columns = c_list     # 设置列索引【表头】
# df.drop([1], inplace=True)  # 将原来的那一行删掉。
# df

,Unnamed: 0,0,1,2,3,4,5,6
0,0,地区 Regions,NaN,侵权纠纷 Infringement Dispute,侵权纠纷 Infringement Dispute,其他纠纷 Other Issues,其他纠纷 Other Issues,查处假冒 专利案件 Punishment of Pass-off of Patents
1,1,地区 Regions,NaN,立案 Entertained,结案 Closed,立案 Entertained,结案 Closed,结案 Closed
2,2,合计 Total,总累计 Accumulated Number,108234,104993,3301,3078,158320
3,3,合计 Total,2018,33976,33256,621,512,42679
...,...,...,...,...,...,...,...,...
64,64,新疆,总累计 Accumulated Number,1550,1494,7,7,2508
65,65,Xinjiang,2018,717,741,3,3,502
66,66,新疆兵团,总累计 Accumulated Number,0,0,0,0,0
67,67,Xinjiangbingtuan,2017,0,0,0,0,0

In [121]:
data = df.iloc[4:,1:5]
data

data.columns = ['地区', '年份', '立案', '结案']     # 重新设置列索引【表头】
data

                   0                       1     2     3
4                 北京  总累计 Accumulated Number  1067   966
5            Beijing                    2018   297   304
6                 天津  总累计 Accumulated Number   535   529
7            Tianjin                    2018   121   116
..               ...                     ...   ...   ...
64                新疆  总累计 Accumulated Number  1550  1494
65          Xinjiang                    2018   717   741
66              新疆兵团  总累计 Accumulated Number     0     0
67  Xinjiangbingtuan                    2017     0     0

[64 rows x 4 columns]

                  地区                      年份    立案    结案
4                 北京  总累计 Accumulated Number  1067   966
5            Beijing                    2018   297   304
6                 天津  总累计 Accumulated Number   535   529
7            Tianjin                    2018   121   116
..               ...                     ...   ...   ...
64                新疆  总累计 Accumulated Number  1550  1494
65          Xinjiang                    2018   717   741
66              新疆兵团  总累计 Accumulated Number     0     0
67  Xinjiangbingtuan                    2017     0     0

[64 rows x 4 columns]

In [122]:
data1 = data[data['年份'] == '2018'].copy()
data1
print(list(data1['地区']))

          地区    年份   立案   结案
5    Beijing  2018  297  304
7    Tianjin  2018  121  116
9      Hebei  2018  809  695
11    Shanxi  2018   43   35
..       ...   ...  ...  ...
59     Gansu  2018  350  327
61   Qinghai  2018    0    0
63   Ningxia  2018   37   31
65  Xinjiang  2018  717  741

[31 rows x 4 columns]

['Beijing', 'Tianjin', 'Hebei', 'Shanxi', 'Inner Mongolia', 'Liaoning', 'Jilin', 'Heilongjiang', 'Shanghai', 'Jiangsu', 'Zhejiang', 'Anhui', 'Fujian', 'Jiangxi', 'Shandong', 'Henan', 'Hubei', 'Hunan', 'Guangdong', 'Guangxi', 'Hainan', 'Chongqing', 'Sichuan', 'Guizhou', 'Yunnan', 'Tibet', 'Shaanxi', 'Gansu', 'Qinghai', 'Ningxia', 'Xinjiang']

In [123]:
sheng_cor = ['河北','山西','辽宁','吉林','黑龙江','江苏','浙江','安徽','福建','江西','山东','河南','湖北','湖南','广东','海南','四川','贵州','云南','陕西','甘肃','青海','台湾','北京','天津','上海','重庆','内蒙古','广西','西藏','宁夏','新疆']
midict = {}

def pinyin_(stri):
    p = Pinyin()
    ret = p.get_pinyin(stri)
    ret_i = ret.split('-')
    ret_ii = ret_i[0]
    for i in range(1,len(ret_i)):
        ret_ii+=ret_i[i]
    return ret_ii.title()
    
for sheng in sheng_cor:
    midict[pinyin_(sheng)] = sheng
midict["Inner Mongolia"] = "内蒙古"
midict["Tibet"] = "西藏"
midict["Chongqing"] = "重庆"


print(midict)

{'Hebei': '河北', 'Shanxi': '陕西', 'Liaoning': '辽宁', 'Jilin': '吉林', 'Heilongjiang': '黑龙江', 'Jiangsu': '江苏', 'Zhejiang': '浙江', 'Anhui': '安徽', 'Fujian': '福建', 'Jiangxi': '江西', 'Shandong': '山东', 'Henan': '河南', 'Hubei': '湖北', 'Hunan': '湖南', 'Guangdong': '广东', 'Hainan': '海南', 'Sichuan': '四川', 'Guizhou': '贵州', 'Yunnan': '云南', 'Gansu': '甘肃', 'Qinghai': '青海', 'Taiwan': '台湾', 'Beijing': '北京', 'Tianjin': '天津', 'Shanghai': '上海', 'Zhongqing': '重庆', 'Neimenggu': '内蒙古', 'Guangxi': '广西', 'Xicang': '西藏', 'Ningxia': '宁夏', 'Xinjiang': '新疆', 'Inner Mongolia': '内蒙古', 'Tibet': '西藏', 'Chongqing': '重庆'}

In [124]:
# diqu_ = list(data1['地区'])
# print(diqu_)
# for diqu_i in diqu_:
#     data1.loc[diqu_i,'地区'] = midict[diqu_i]
# data1

In [125]:
diqu_ = list(data1['地区'])
print(diqu_)
for diqu_i in diqu_:
    data1['地区'] = data1['地区'].map(lambda x: midict.get(x, x))
    # data1.地区[data1.地区==diqu_i] = midict[diqu_i]
data1

['Beijing', 'Tianjin', 'Hebei', 'Shanxi', 'Inner Mongolia', 'Liaoning', 'Jilin', 'Heilongjiang', 'Shanghai', 'Jiangsu', 'Zhejiang', 'Anhui', 'Fujian', 'Jiangxi', 'Shandong', 'Henan', 'Hubei', 'Hunan', 'Guangdong', 'Guangxi', 'Hainan', 'Chongqing', 'Sichuan', 'Guizhou', 'Yunnan', 'Tibet', 'Shaanxi', 'Gansu', 'Qinghai', 'Ningxia', 'Xinjiang']

    地区    年份   立案   结案
5   北京  2018  297  304
7   天津  2018  121  116
9   河北  2018  809  695
11  陕西  2018   43   35
..  ..   ...  ...  ...
59  甘肃  2018  350  327
61  青海  2018    0    0
63  宁夏  2018   37   31
65  新疆  2018  717  741

[31 rows x 4 columns]

In [126]:
data1.set_index('地区',inplace=True)
data2 = data1[['立案','结案']].astype("float")
data2
EPSILON = 1e-8


data2["结案/立案"]= data2["结案"]/(data2["立案"]+EPSILON)
data2

       立案     结案
地区
北京  297.0  304.0
天津  121.0  116.0
河北  809.0  695.0
陕西   43.0   35.0
..    ...    ...
甘肃  350.0  327.0
青海    0.0    0.0
宁夏   37.0   31.0
新疆  717.0  741.0

[31 rows x 2 columns]

       立案     结案     结案/立案
地区
北京  297.0  304.0  1.023569
天津  121.0  116.0  0.958678
河北  809.0  695.0  0.859085
陕西   43.0   35.0  0.813953
..    ...    ...       ...
甘肃  350.0  327.0  0.934286
青海    0.0    0.0  0.000000
宁夏   37.0   31.0  0.837838
新疆  717.0  741.0  1.033473

[31 rows x 3 columns]

In [129]:
data2.to_excel("调整后数据.xlsx")

In [130]:
file = "../实验二数据/2008-2018知识产权年鉴数据/2018/h/h5.xls"


df = pd.read_excel(file,index_col=0)
df

data1 = df.iloc[1:,[0,2]]
data1

data1.columns = ['地区','假冒数量']
data2 = data1.iloc[2:,:]
data2

data3 = data2.set_index('地区')
data3

,0,1,2,3,4,5,6,7
0,地区 Regions,地区 Regions,假冒数量 Accumulated Number,案卷类型 Case Type,案卷类型 Case Type,案卷类型 Case Type,案卷类型 Case Type,案卷类型 Case Type
1,地区 Regions,地区 Regions,假冒数量 Accumulated Number,①,②,③,④,⑤
2,全国总计Total,全国总计Total,42679,17768,27951,2385,322,4689
3,北京,Beijing,1249,0,1182,0,0,67
...,...,...,...,...,...,...,...,...
30,甘肃,Gansu,605,377,354,7,8,99
31,青海,Qinghai,48,16,0,9,0,23
32,宁夏,Ningxia,31,28,30,0,0,1
33,新疆,Xinjiang,502,290,299,13,3,68

             0                        2
1   地区 Regions  假冒数量 Accumulated Number
2    全国总计Total                    42679
3           北京                     1249
4           天津                      268
..         ...                      ...
30          甘肃                      605
31          青海                       48
32          宁夏                       31
33          新疆                      502

[33 rows x 2 columns]

    地区  假冒数量
3   北京  1249
4   天津   268
5   河北   534
6   山西   163
..  ..   ...
30  甘肃   605
31  青海    48
32  宁夏    31
33  新疆   502

[31 rows x 2 columns]

    假冒数量
地区
北京  1249
天津   268
河北   534
山西   163
..   ...
甘肃   605
青海    48
宁夏    31
新疆   502

[31 rows x 1 columns]

In [17]:
data3.to_excel("调整后数据2.xlsx")

In [131]:
file1 = "../实验二数据/2008-2018知识产权年鉴数据/2018/a/a4.xls"

file2 = "../实验二数据/2008-2018知识产权年鉴数据/2018/b/b3.xls"

file3 = "../实验二数据/2008-2018知识产权年鉴数据/2018/c/c2.xls"


df1, df2, df3 = pd.read_excel(file1,index_col=0), pd.read_excel(file2,index_col=0), pd.read_excel(file3,index_col=0)

print("申请量：")
df1
print("申请授权量：")
df2
print("有效量：")
df3

申请量：

,0,1,2,3,4
0,地 区Regions,地 区Regions,2018申请量 Application number,2018申请量 Application number,2018申请量 Application number
1,地 区Regions,地 区Regions,发明 Invention,实用新型 Utility Model,外观设计 Design
2,全国总计Total,全国总计Total,1393815,2063860,689097
3,北京,Beijing,117664,70507,23041
...,...,...,...,...,...
49,深圳,Shenzhen,69979,100993,57664
50,青岛,Qingdao,21829,34719,4446
51,宁波,Ningbo,25524,29251,18179
52,新疆兵团,Xinjiang bingtuan,514,1145,60

申请授权量：

,0,1,2,3,4,5,6,7
0,地区 Regions,地区 Regions,总累计 Accumulated Number,总累计 Accumulated Number,总累计 Accumulated Number,2018,2018,2018
1,地区 Regions,地区 Regions,发明 Invention,实用新型 Utility Model,外观设计 Design,发明 Invention,实用新型 Utility Model,外观设计 Design
2,全国总计Total,全国总计Total,2137044,8262424,4752003,345959,1471759,517693
3,北京,Beijing,300444,425039,116846,46978,59219,17299
...,...,...,...,...,...,...,...,...
49,深圳,Shenzhen,151721,327827,232831,21323,75560,43368
50,青岛,Qingdao,34658,121056,32115,6498,25218,3405
51,宁波,Ningbo,33860,195172,213971,5302,23428,16047
52,新疆兵团,Xinjiang bingtuan,998,5356,459,146,1120,55

有效量：

,0,1,2,3,4,5
0,地区 Regions,地区 Regions,2018,2018,2018,2018
1,地区 Regions,地区 Regions,合计 Total,发明 Invention,实用新型 Utility Model,外观设计 Design
2,全国总计Total,全国总计Total,7517791,1662269,4359926,1495596
3,北京,Beijing,569929,241282,263909,64738
...,...,...,...,...,...,...
49,深圳,Shenzhen,463511,119023,223486,121002
50,青岛,Qingdao,104358,26270,64454,13634
51,宁波,Ningbo,168502,23910,86706,57886
52,新疆兵团,Xinjiang Bingtuan,3864,747,2846,271

In [132]:
######调整格式：
###df1
df1_mid = df1.iloc[3:,[0,2,3,4]]
df1_mid.columns = list(df1.iloc[1,[0,2,3,4]])
df1_mid = df1_mid.reset_index(drop=True)
df1_mid
df1 = df1_mid
###df2
df2_mid = df2.iloc[3:,[0,5,6,7]]
df2_mid.columns = list(df2.iloc[1,[0,5,6,7]])
df2_mid = df2_mid.reset_index(drop=True)
df2_mid
df2 = df2_mid
###df3
df3_mid = df3.iloc[3:,[0,3,4,5]]
df3_mid.columns = list(df3.iloc[1,[0,3,4,5]])
df3_mid = df3_mid.reset_index(drop=True)
df3_mid
df3 = df3_mid

   地 区Regions 发明  Invention 实用新型  Utility Model 外观设计  Design
0          北京        117664               70507        23041
1          天津         26661               66535         5842
2          河北         18954               51171        13660
3          山西          9395               15788         1923
..        ...           ...                 ...          ...
46         深圳         69979              100993        57664
47         青岛         21829               34719         4446
48         宁波         25524               29251        18179
49       新疆兵团           514                1145           60

[50 rows x 4 columns]

   地区 Regions 发明  Invention 实用新型  Utility Model 外观设计  Design
0          北京         46978               59219        17299
1          天津          5626               44683         4371
2          河北          5126               36210        10558
3          山西          2284               11258         1518
..        ...           ...                 ...          ...
46         深圳         21323               75560        43368
47         青岛          6498               25218         3405
48         宁波          5302               23428        16047
49       新疆兵团           146                1120           55

[50 rows x 4 columns]

   地区 Regions 发明  Invention 实用新型  Utility Model 外观设计  Design
0          北京        241282              263909        64738
1          天津         32066              123971        12842
2          河北         24939              103668        31357
3          山西         12983               34782         5084
..        ...           ...                 ...          ...
46         深圳        119023              223486       121002
47         青岛         26270               64454        13634
48         宁波         23910               86706        57886
49       新疆兵团           747                2846          271

[50 rows x 4 columns]

In [133]:
###重置列名：
df1.columns = ['地区','发明_申请量','实用新型_申请量','外观设计_申请量']
df1
df2.columns = ['地区','发明_授权量','实用新型_授权量','外观设计_授权量']
df2
df3.columns = ['地区','发明_有效量','实用新型_有效量','外观设计_有效量']
df3

      地区  发明_申请量 实用新型_申请量 外观设计_申请量
0     北京  117664    70507    23041
1     天津   26661    66535     5842
2     河北   18954    51171    13660
3     山西    9395    15788     1923
..   ...     ...      ...      ...
46    深圳   69979   100993    57664
47    青岛   21829    34719     4446
48    宁波   25524    29251    18179
49  新疆兵团     514     1145       60

[50 rows x 4 columns]

      地区 发明_授权量 实用新型_授权量 外观设计_授权量
0     北京  46978    59219    17299
1     天津   5626    44683     4371
2     河北   5126    36210    10558
3     山西   2284    11258     1518
..   ...    ...      ...      ...
46    深圳  21323    75560    43368
47    青岛   6498    25218     3405
48    宁波   5302    23428    16047
49  新疆兵团    146     1120       55

[50 rows x 4 columns]

      地区  发明_有效量 实用新型_有效量 外观设计_有效量
0     北京  241282   263909    64738
1     天津   32066   123971    12842
2     河北   24939   103668    31357
3     山西   12983    34782     5084
..   ...     ...      ...      ...
46    深圳  119023   223486   121002
47    青岛   26270    64454    13634
48    宁波   23910    86706    57886
49  新疆兵团     747     2846      271

[50 rows x 4 columns]

In [134]:
df = df1.copy()
for columni in list(df2.iloc[:,1:]):
    df[columni] = df2[columni]
for columni in list(df3.iloc[:,1:]):
    df[columni] = df3[columni]
df[list(df)[1:]] = df[list(df)[1:]].astype("float64")
df = df.set_index("地区")
df
df.info()

,发明_申请量,实用新型_申请量,外观设计_申请量,发明_授权量,实用新型_授权量,外观设计_授权量,发明_有效量,实用新型_有效量,外观设计_有效量
地区,,,,,,,,,
北京,117664.0,70507.0,23041.0,46978.0,59219.0,17299.0,241282.0,263909.0,64738.0
天津,26661.0,66535.0,5842.0,5626.0,44683.0,4371.0,32066.0,123971.0,12842.0
河北,18954.0,51171.0,13660.0,5126.0,36210.0,10558.0,24939.0,103668.0,31357.0
山西,9395.0,15788.0,1923.0,2284.0,11258.0,1518.0,12983.0,34782.0,5084.0
...,...,...,...,...,...,...,...,...,...
深圳,69979.0,100993.0,57664.0,21323.0,75560.0,43368.0,119023.0,223486.0,121002.0
青岛,21829.0,34719.0,4446.0,6498.0,25218.0,3405.0,26270.0,64454.0,13634.0
宁波,25524.0,29251.0,18179.0,5302.0,23428.0,16047.0,23910.0,86706.0,57886.0
新疆兵团,514.0,1145.0,60.0,146.0,1120.0,55.0,747.0,2846.0,271.0

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 北京 to 新疆兵团
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   发明_申请量    50 non-null     float64
 1   实用新型_申请量  50 non-null     float64
 2   外观设计_申请量  50 non-null     float64
 3   发明_授权量    50 non-null     float64
 4   实用新型_授权量  50 non-null     float64
 5   外观设计_授权量  50 non-null     float64
 6   发明_有效量    50 non-null     float64
 7   实用新型_有效量  50 non-null     float64
 8   外观设计_有效量  50 non-null     float64
dtypes: float64(9)
memory usage: 3.9+ KB

In [135]:
###计算发明专利授权量/申请量，并填入df中
df["发明专利授权量/申请量"] = df["发明_授权量"]/df["发明_申请量"]
df

,发明_申请量,实用新型_申请量,外观设计_申请量,发明_授权量,实用新型_授权量,外观设计_授权量,发明_有效量,实用新型_有效量,外观设计_有效量,发明专利授权量/申请量
地区,,,,,,,,,,
北京,117664.0,70507.0,23041.0,46978.0,59219.0,17299.0,241282.0,263909.0,64738.0,0.399256
天津,26661.0,66535.0,5842.0,5626.0,44683.0,4371.0,32066.0,123971.0,12842.0,0.211020
河北,18954.0,51171.0,13660.0,5126.0,36210.0,10558.0,24939.0,103668.0,31357.0,0.270444
山西,9395.0,15788.0,1923.0,2284.0,11258.0,1518.0,12983.0,34782.0,5084.0,0.243108
...,...,...,...,...,...,...,...,...,...,...
深圳,69979.0,100993.0,57664.0,21323.0,75560.0,43368.0,119023.0,223486.0,121002.0,0.304706
青岛,21829.0,34719.0,4446.0,6498.0,25218.0,3405.0,26270.0,64454.0,13634.0,0.297677
宁波,25524.0,29251.0,18179.0,5302.0,23428.0,16047.0,23910.0,86706.0,57886.0,0.207726
新疆兵团,514.0,1145.0,60.0,146.0,1120.0,55.0,747.0,2846.0,271.0,0.284047

In [142]:
####申请量、授权量和有效量分别计算 发明专利/(发明+实用新型)
df["发明专利/(发明+实用新型)_申请"] = df["发明_申请量"]/(df["发明_申请量"]+df["实用新型_申请量"])
df["发明专利/(发明+实用新型)_申请"]

df["发明专利/(发明+实用新型)_授权"] = df["发明_授权量"]/(df["发明_授权量"]+df["实用新型_授权量"])
df["发明专利/(发明+实用新型)_授权"]

df["发明专利/(发明+实用新型)_有效"] = df["发明_有效量"]/(df["发明_有效量"]+df["实用新型_有效量"])
df["发明专利/(发明+实用新型)_有效"]

地区
北京      0.625304
天津      0.286075
河北      0.270289
山西      0.373069
          ...
深圳      0.409301
青岛      0.386026
宁波      0.465979
新疆兵团    0.309825
Name: 发明专利/(发明+实用新型)_申请, Length: 50, dtype: float64

地区
北京      0.442367
天津      0.111829
河北      0.124008
山西      0.168660
          ...
深圳      0.220090
青岛      0.204881
宁波      0.184546
新疆兵团    0.115324
Name: 发明专利/(发明+实用新型)_授权, Length: 50, dtype: float64

地区
北京      0.477605
天津      0.205503
河北      0.193916
山西      0.271810
          ...
深圳      0.347503
青岛      0.289560
宁波      0.216153
新疆兵团    0.207904
Name: 发明专利/(发明+实用新型)_有效, Length: 50, dtype: float64

In [ ]:
###将一、二、三中的三个数据表整合
df1 = pd.read_excel("./调整后数据1.xlsx",index_col=0)
df2 = pd.read_excel("./调整后数据2.xlsx",index_col=0)

In [143]:
df1
df2
df

      地区  发明_申请量 实用新型_申请量 外观设计_申请量
0     北京  117664    70507    23041
1     天津   26661    66535     5842
2     河北   18954    51171    13660
3     山西    9395    15788     1923
..   ...     ...      ...      ...
46    深圳   69979   100993    57664
47    青岛   21829    34719     4446
48    宁波   25524    29251    18179
49  新疆兵团     514     1145       60

[50 rows x 4 columns]

      地区 发明_授权量 实用新型_授权量 外观设计_授权量
0     北京  46978    59219    17299
1     天津   5626    44683     4371
2     河北   5126    36210    10558
3     山西   2284    11258     1518
..   ...    ...      ...      ...
46    深圳  21323    75560    43368
47    青岛   6498    25218     3405
48    宁波   5302    23428    16047
49  新疆兵团    146     1120       55

[50 rows x 4 columns]

,发明_申请量,实用新型_申请量,外观设计_申请量,发明_授权量,实用新型_授权量,外观设计_授权量,发明_有效量,实用新型_有效量,外观设计_有效量,发明专利授权量/申请量,发明专利/(发明+实用新型)_申请,发明专利/(发明+实用新型)_授权,发明专利/(发明+实用新型)_有效
地区,,,,,,,,,,,,,
北京,117664.0,70507.0,23041.0,46978.0,59219.0,17299.0,241282.0,263909.0,64738.0,0.399256,0.625304,0.442367,0.477605
天津,26661.0,66535.0,5842.0,5626.0,44683.0,4371.0,32066.0,123971.0,12842.0,0.211020,0.286075,0.111829,0.205503
河北,18954.0,51171.0,13660.0,5126.0,36210.0,10558.0,24939.0,103668.0,31357.0,0.270444,0.270289,0.124008,0.193916
山西,9395.0,15788.0,1923.0,2284.0,11258.0,1518.0,12983.0,34782.0,5084.0,0.243108,0.373069,0.168660,0.271810
...,...,...,...,...,...,...,...,...,...,...,...,...,...
深圳,69979.0,100993.0,57664.0,21323.0,75560.0,43368.0,119023.0,223486.0,121002.0,0.304706,0.409301,0.220090,0.347503
青岛,21829.0,34719.0,4446.0,6498.0,25218.0,3405.0,26270.0,64454.0,13634.0,0.297677,0.386026,0.204881,0.289560
宁波,25524.0,29251.0,18179.0,5302.0,23428.0,16047.0,23910.0,86706.0,57886.0,0.207726,0.465979,0.184546,0.216153
新疆兵团,514.0,1145.0,60.0,146.0,1120.0,55.0,747.0,2846.0,271.0,0.284047,0.309825,0.115324,0.207904

In [144]:
# data = df1.copy()
# data['假冒数量'] = df2['假冒数量']
# for columni in list(df):
#     data[columni] = df[columni]
# data

In [145]:
#############机关报数据清洗
import pandas as pd
import os
import re

In [155]:
df = pd.read_csv("../实验二数据/人民日报/人民日报/20180101“拨云妈妈面-，擀出幸福来（寄语新时代）")
df

Empty DataFrame
Columns: [　　到了俺拨云岭，一定要吃碗俺的手擀面。俺这面可有名了，叫“拨云妈妈面”。你尝尝看，这面又香又筋道。面粉是自家种的小麦磨的，有麦香味；卤料和配菜是自家产的土鸡蛋、山野菜、芝麻盐做的，让人吃了还想吃。　　拨云岭在伏牛山北麓，俺们村在岭上一道河湾旁边，农户都散落在山岭间。你看，这岭上经常云雾缭绕，隔着雾看山、看岭、看水，比看画都美。可是，早年拨云岭村特别穷，外面的人都说俺们是守着美景过苦日子。没有路是俺拨云岭村的苦根子：遇到雨雪天，想下山就得顺着山坡往下面溜，摔伤、碰伤是常有的事。出山难进山难，孩子上学更是难。村里妮儿不愿留，外面的妮儿不愿来，村里不少好小伙儿打光棍。因为山高没有路，种地用的肥料都得让青壮年人一袋一袋背上山。那时候，麦子收成少，过年才能吃上这样的手擀面。　　俺听村干部说，中央让贫困人口和贫困地区同全国一道进入全面小康社会，可真是嘞，党和政府对俺们村越来越关心，给钱、给政策，还给派来了驻村书记。这两年，拨云岭村的路越来越好了，水泥路一直修到山顶上，通到各个村民组。像俺家，虽然住在最高的坡上，路也通着呢！如今，俺们村路面也拓宽了，还在山顶上新建了停车场，村里的老人都说“这可是过去想都不敢想的事啊”。　　路好了，乡、村干部接着在俺们村搞起了乡村旅游。带村民在山上修了漂亮的亭子，布置了石头景观，刻上“幸福拨云来”大字。让家家户户种上了核桃、油牡丹，还常开展卫生评比，比哪家的厨房更干净，哪家的庭院更好看，哪家的花草养得最好。好风景、好民风，让俺拨云岭村出了名。来俺们这儿旅游的人越来越多，俺这“拨云妈妈面”越叫越响。　　10年前，俺家那口子出了意外事故，身上多处骨折，一年做了6次手术，最后命总算保住了，但家里欠了一大笔外债，成了村里的贫困户。为了让俺脱贫致富，这几年县、乡、村干部来了不少次，给俺开了这个“守望田园”的面馆，一个月收入6000多块，扶俺走上致富路。现在村里十几家贫困户，都跟俺一样挣上旅游钱。景色越来越美，旅游越来越旺，现在俺浑身是劲，要把面馆办得更好，日子过得更甜。让来这儿吃“拨云妈妈面”的人，羡慕俺们这儿的好风光、好生活。　　　　网友连线　　@“yang”：这些年党的政策真是越来越好了，资金也向农村倾斜，很多贫困村成为令人向往的美丽乡村。孩子上学、群众看病都方便了，厨房、厕所、庭院的条件也越来越好，各类扶持政策，让农村的物质和精神生活都焕然一新。　　@“君山愚公”：绿水青山就是金山银山，发展乡村旅游，在保护生态的同时让乡亲们吃上“旅游饭”，让生态变成“摇钱树”，让“乡愁”成为“品牌”。　　（本报记者  任胜利采访整理）]
Index: []

In [156]:
df = pd.read_table("../实验二数据/人民日报/人民日报/20180101“拨云妈妈面-，擀出幸福来（寄语新时代）")
stri = list(df)
print(stri)

['\u3000\u3000到了俺拨云岭，一定要吃碗俺的手擀面。俺这面可有名了，叫“拨云妈妈面”。你尝尝看，这面又香又筋道。面粉是自家种的小麦磨的，有麦香味；卤料和配菜是自家产的土鸡蛋、山野菜、芝麻盐做的，让人吃了还想吃。\u3000\u3000拨云岭在伏牛山北麓，俺们村在岭上一道河湾旁边，农户都散落在山岭间。你看，这岭上经常云雾缭绕，隔着雾看山、看岭、看水，比看画都美。可是，早年拨云岭村特别穷，外面的人都说俺们是守着美景过苦日子。没有路是俺拨云岭村的苦根子：遇到雨雪天，想下山就得顺着山坡往下面溜，摔伤、碰伤是常有的事。出山难进山难，孩子上学更是难。村里妮儿不愿留，外面的妮儿不愿来，村里不少好小伙儿打光棍。因为山高没有路，种地用的肥料都得让青壮年人一袋一袋背上山。那时候，麦子收成少，过年才能吃上这样的手擀面。\u3000\u3000俺听村干部说，中央让贫困人口和贫困地区同全国一道进入全面小康社会，可真是嘞，党和政府对俺们村越来越关心，给钱、给政策，还给派来了驻村书记。这两年，拨云岭村的路越来越好了，水泥路一直修到山顶上，通到各个村民组。像俺家，虽然住在最高的坡上，路也通着呢！如今，俺们村路面也拓宽了，还在山顶上新建了停车场，村里的老人都说“这可是过去想都不敢想的事啊”。\u3000\u3000路好了，乡、村干部接着在俺们村搞起了乡村旅游。带村民在山上修了漂亮的亭子，布置了石头景观，刻上“幸福拨云来”大字。让家家户户种上了核桃、油牡丹，还常开展卫生评比，比哪家的厨房更干净，哪家的庭院更好看，哪家的花草养得最好。好风景、好民风，让俺拨云岭村出了名。来俺们这儿旅游的人越来越多，俺这“拨云妈妈面”越叫越响。\u3000\u300010年前，俺家那口子出了意外事故，身上多处骨折，一年做了6次手术，最后命总算保住了，但家里欠了一大笔外债，成了村里的贫困户。为了让俺脱贫致富，这几年县、乡、村干部来了不少次，给俺开了这个“守望田园”的面馆，一个月收入6000多块，扶俺走上致富路。现在村里十几家贫困户，都跟俺一样挣上旅游钱。景色越来越美，旅游越来越旺，现在俺浑身是劲，要把面馆办得更好，日子过得更甜。让来这儿吃“拨云妈妈面”的人，羡慕俺们这儿的好风光、好生活。\u3000\u3000\u3000\u3000网友连线\u3000\u3000@“yang”：这些年党的政策真是越来越好了，资金也向农村倾斜，很多贫困村成为令人向往的美丽乡村。孩子上学、群众看病都方便了，厨房、厕所、庭院的条件也越来越好，各类扶持政策，让农村的物质和精神生活都焕然一新。\u3000\u3000@“君山愚公”：绿水青山就是金山银山，发展乡村旅游，在保护生态的同时让乡亲们吃上“旅游饭”，让生态变成“摇钱树”，让“乡愁”成为“品牌”。\u3000\u3000（本报记者\xa0\xa0任胜利采访整理）']

In [6]:
#############微博数据清洗
import pandas as pd
import os
import re
import warnings
warnings.filterwarnings("ignore")

In [157]:
file = "../实验二数据/广东官微.xls"
df = pd.read_excel(file,index_col=0)
df

,微博内容,时间,来源,点赞数,评论数,转发数
0,我给自己贴了 [TAG]市场监管[TAG] 标签。,2011-03-15,微博 weibo.com,0,3,0
1,我们的微博暂不接受申（投）诉、举报受理，如要申（投）诉、举报，请通过广东省工商行政管理局官方...,2011-03-15,微博 weibo.com,1,16,11
2,我给自己贴了 [TAG]消费维权[TAG]、[TAG]服务发展[TAG]、[TAG]市场监管...,2011-03-15,微博 weibo.com,0,3,0
3,这么快就看到了！感谢关注！感谢支持广东工商行政管理工作！,2011-03-15,微博 weibo.com,0,3,3
...,...,...,...,...,...,...
9507,【元旦假期全国口岸出入境旅客将达到174万人次】据国家移民管理局预测，2020年元旦假期全国...,2019-12-31,微博 weibo.com,0,0,0
9508,【2019年消费品零售额预计超四十万亿元】2019年我国消费市场运行总体平稳，规模稳步扩大，...,2019-12-31,微博 weibo.com,0,0,1
9509,【李克强签署国务院令 公布《中华人民共和国外商投资法实施条例》】国务院总理李克强日前签署国务...,2019-12-31,微博 weibo.com,0,0,2
9510,#广东市场监管12月大事盘点# 时间总是在不经意间过得飞快，12月也即将在倒数中度过。在20...,2019-12-31,微博 weibo.com,2,0,2

In [158]:
columns = ['微博内容', '时间', '点赞数', '评论数', '转发数']
data1 = df[columns]
data1

,微博内容,时间,点赞数,评论数,转发数
0,我给自己贴了 [TAG]市场监管[TAG] 标签。,2011-03-15,0,3,0
1,我们的微博暂不接受申（投）诉、举报受理，如要申（投）诉、举报，请通过广东省工商行政管理局官方...,2011-03-15,1,16,11
2,我给自己贴了 [TAG]消费维权[TAG]、[TAG]服务发展[TAG]、[TAG]市场监管...,2011-03-15,0,3,0
3,这么快就看到了！感谢关注！感谢支持广东工商行政管理工作！,2011-03-15,0,3,3
...,...,...,...,...,...
9507,【元旦假期全国口岸出入境旅客将达到174万人次】据国家移民管理局预测，2020年元旦假期全国...,2019-12-31,0,0,0
9508,【2019年消费品零售额预计超四十万亿元】2019年我国消费市场运行总体平稳，规模稳步扩大，...,2019-12-31,0,0,1
9509,【李克强签署国务院令 公布《中华人民共和国外商投资法实施条例》】国务院总理李克强日前签署国务...,2019-12-31,0,0,2
9510,#广东市场监管12月大事盘点# 时间总是在不经意间过得飞快，12月也即将在倒数中度过。在20...,2019-12-31,2,0,2

In [159]:
remove_ls = ['...','\u200b','O网页链接','\u3000']
for i in range(len(data1.index)):
    stri = str(data1.iloc[i,0])
    for j in remove_ls:
        stri = stri.replace(j, "")
    data1.iloc[i,0] = stri
data1

,微博内容,时间,点赞数,评论数,转发数
0,我给自己贴了 [TAG]市场监管[TAG] 标签。,2011-03-15,0,3,0
1,我们的微博暂不接受申（投）诉、举报受理，如要申（投）诉、举报，请通过广东省工商行政管理局官方...,2011-03-15,1,16,11
2,我给自己贴了 [TAG]消费维权[TAG]、[TAG]服务发展[TAG]、[TAG]市场监管...,2011-03-15,0,3,0
3,这么快就看到了！感谢关注！感谢支持广东工商行政管理工作！,2011-03-15,0,3,3
...,...,...,...,...,...
9507,【元旦假期全国口岸出入境旅客将达到174万人次】据国家移民管理局预测，2020年元旦假期全国...,2019-12-31,0,0,0
9508,【2019年消费品零售额预计超四十万亿元】2019年我国消费市场运行总体平稳，规模稳步扩大，...,2019-12-31,0,0,1
9509,【李克强签署国务院令 公布《中华人民共和国外商投资法实施条例》】国务院总理李克强日前签署国务...,2019-12-31,0,0,2
9510,#广东市场监管12月大事盘点# 时间总是在不经意间过得飞快，12月也即将在倒数中度过。在20...,2019-12-31,2,0,2

In [160]:
####对时间进行处理，只保留年份，用transform（）函数
# data1.iloc[1,1][:4]
data1['时间'] = data1['时间'].transform(lambda x:x[:4])
data1

                                                   微博内容    时间  点赞数  评论数  转发数
0                             我给自己贴了 [TAG]市场监管[TAG] 标签。  2011    0    3    0
1     我们的微博暂不接受申（投）诉、举报受理，如要申（投）诉、举报，请通过广东省工商行政管理局官方...  2011    1   16   11
2     我给自己贴了 [TAG]消费维权[TAG]、[TAG]服务发展[TAG]、[TAG]市场监管...  2011    0    3    0
3                          这么快就看到了！感谢关注！感谢支持广东工商行政管理工作！  2011    0    3    3
...                                                 ...   ...  ...  ...  ...
9507  【元旦假期全国口岸出入境旅客将达到174万人次】据国家移民管理局预测，2020年元旦假期全国...  2019    0    0    0
9508  【2019年消费品零售额预计超四十万亿元】2019年我国消费市场运行总体平稳，规模稳步扩大，...  2019    0    0    1
9509  【李克强签署国务院令 公布《中华人民共和国外商投资法实施条例》】国务院总理李克强日前签署国务...  2019    0    0    2
9510  #广东市场监管12月大事盘点# 时间总是在不经意间过得飞快，12月也即将在倒数中度过。在20...  2019    2    0    2

[9511 rows x 5 columns]

In [161]:
####计算这个微博每一年的发文量
middf = data1.groupby('时间')['微博内容'].count()
middf.name = "年发文量"
middf

时间
2011     491
2012     474
2013     238
2014     234
        ...
2016    2089
2017    1569
2018    1546
2019    1996
Name: 年发文量, Length: 9, dtype: int64

In [162]:
data1 = pd.merge(data1, middf, on=['时间'], how='left')
data1

,微博内容,时间,点赞数,评论数,转发数,年发文量
0,我给自己贴了 [TAG]市场监管[TAG] 标签。,2011,0,3,0,491
1,我们的微博暂不接受申（投）诉、举报受理，如要申（投）诉、举报，请通过广东省工商行政管理局官方...,2011,1,16,11,491
2,我给自己贴了 [TAG]消费维权[TAG]、[TAG]服务发展[TAG]、[TAG]市场监管...,2011,0,3,0,491
3,这么快就看到了！感谢关注！感谢支持广东工商行政管理工作！,2011,0,3,3,491
...,...,...,...,...,...,...
9507,【元旦假期全国口岸出入境旅客将达到174万人次】据国家移民管理局预测，2020年元旦假期全国...,2019,0,0,0,1996
9508,【2019年消费品零售额预计超四十万亿元】2019年我国消费市场运行总体平稳，规模稳步扩大，...,2019,0,0,1,1996
9509,【李克强签署国务院令 公布《中华人民共和国外商投资法实施条例》】国务院总理李克强日前签署国务...,2019,0,0,2,1996
9510,#广东市场监管12月大事盘点# 时间总是在不经意间过得飞快，12月也即将在倒数中度过。在20...,2019,2,0,2,1996

In [163]:
mid_str = "知识产权、专利、商标、版权、著作权"
mid_ls = mid_str.split("、")
mid_ls

['知识产权', '专利', '商标', '版权', '著作权']

In [164]:
###知识产权平均字数求解：
def knowlegde_count(dfi):
    count_all,count_knowlegde = 0, 0
    for i in range(len(dfi.index)):
        strii = dfi.iloc[i,0]
        count_all += len(strii)
        base = False
        for k in mid_ls:
            if strii.find(k) != -1 : base = True
        if base : count_knowlegde += len(strii)
    return count_knowlegde/count_all

In [20]:
# s = knowlegde_count(data1[data1["时间"] == '2011'])

0.09582759214605581

In [165]:
time_ls = ['2011','2012','2013','2014','2015','2016','2017','2018','2019']
dicti = {timei:knowlegde_count(data1[data1["时间"] == timei]) for timei in time_ls}
print(dicti)

{'2011': 0.09582759214605581, '2012': 0.06375126064845611, '2013': 0.04144464179988159, '2014': 0.1771140092553639, '2015': 0.05018085778262617, '2016': 0.06614441604134026, '2017': 0.06861714831621686, '2018': 0.051455522011663576, '2019': 0.06542583933168707}

In [166]:
a = pd.Series(dicti)
a.index.name = '时间'
a.name = '知识产权平均字数'
a

时间
2011    0.095828
2012    0.063751
2013    0.041445
2014    0.177114
          ...
2016    0.066144
2017    0.068617
2018    0.051456
2019    0.065426
Name: 知识产权平均字数, Length: 9, dtype: float64

In [27]:
data1 = pd.merge(data1, a, on=['时间'], how='left')
data1

,微博内容,时间,点赞数,评论数,转发数,年发文量,知识产权平均字数
0,我给自己贴了 [TAG]市场监管[TAG] 标签。,2011,0,3,0,491,0.095828
1,我们的微博暂不接受申（投）诉、举报受理，如要申（投）诉、举报，请通过广东省工商行政管理局官方...,2011,1,16,11,491,0.095828
2,我给自己贴了 [TAG]消费维权[TAG]、[TAG]服务发展[TAG]、[TAG]市场监管...,2011,0,3,0,491,0.095828
3,这么快就看到了！感谢关注！感谢支持广东工商行政管理工作！,2011,0,3,3,491,0.095828
4,回复@xiaolong3:消费不分你我他，合法维权靠大家！ //@xiaolong3: 31...,2011,0,0,0,491,0.095828
...,...,...,...,...,...,...,...
9506,【我国连续十五年荒漠化和沙化面积双缩减】2012年至今，沙化土地治理面积超1400万公顷，封...,2019,0,0,0,1996,0.065426
9507,【元旦假期全国口岸出入境旅客将达到174万人次】据国家移民管理局预测，2020年元旦假期全国...,2019,0,0,0,1996,0.065426
9508,【2019年消费品零售额预计超四十万亿元】2019年我国消费市场运行总体平稳，规模稳步扩大，...,2019,0,0,1,1996,0.065426
9509,【李克强签署国务院令 公布《中华人民共和国外商投资法实施条例》】国务院总理李克强日前签署国务...,2019,0,0,2,1996,0.065426
9510,#广东市场监管12月大事盘点# 时间总是在不经意间过得飞快，12月也即将在倒数中度过。在20...,2019,2,0,2,1996,0.065426

In [ ]:
data1.to_excel("调整后数据3.xlsx")